
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@400;700&display=swap');

:root {
    --main-color:#AD4328;
    --dark-color:#11152a;
    --light-color:#d0d4ed;

}

 *{
    margin:0;
    padding:0;
}


*, ::before, ::after{
    box-sizing: border-box;
}


body{
      font-family: 'Poppins', sans-serif;
      font-size:14px;
      font-weight:400;
      line-height:1.8;
      color:var(--dark-color);
      background-color: #efefef;
     }



     

a {
    text-decoration:none;
}






h2{
    font-size: 3em;
    font-weight:400;
    line-height:1.2;
    color:white;
    margin-bottom:20px;
}



.container{
        max-width:1100px;
        margin: 0 auto;
        }
    
    
    

.wrapper>div {
    display: flex;
    flex-direction: column;
    width:100%;
    max-width:500px;
    min-height:500px;
    margin: 5em auto;
    background-color: var(--main-color);
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
  
}
  



    :is(.login, .signup)> div{
        position:relative;
        flex: 1 0 50%;
        padding: 60px;
    }





.content-heading .y-style {
    display:flex;
    flex-direction:column;
}







.content-form .y-style .input_fieid .custom_select select{
    border:1px solid #d5dbd9;
    width:100%;
    height:100%;
    margin: 0 0 20px;
    padding:12px 10px;
    line-height: 23px;
    border-radius:7px;
    cursor: pointer;
    
}







    .logo a{
        display: inline-block;
        margin-bottom:60px;
        font-size:18px;
        font-weight: 700;
        color: var(--dark-color);
    }



   

    .logo span{
        color:#f8f4f6;
    }

    
    



  

   .content-heading p{
    color: var(--light-color);

}







    

     .content-form{
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin-top: 2rem;
    
    }
    







    
.welcome{
    text-align:center;
}





        
  

form input:not(#terms,#remember){
    font-family:inherit;
    width:100%;
    outline:0;
    margin:0 0 20px;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--light-color);
}






   

   form input::placeholder{
    color:var(--light-color);
}







  

  form button{
    background-color:#ea123a;
    color:white;
    width:100%;
    margin:23px 0;
    border:0;
    line-height:42px;
    border-radius:7px;
    font-weight:700;
    cursor:pointer;
    transition:all .3s ease-out;
    /* -webkit-transition: all .3s ease-out; */
}





 

    button:hover{
        background-color:var(--dark-color);
    }
    
    
    
    

p span{
    position: relative;
    color: #979797;
    top: 1.8rem;
}

.sign span{
    position: relative;
    top: 1rem;
    left: -5px;
    color: #979797;

}
    


.afterform{
    text-align: center;
    margin-top: 44px;
}





.afterform1{
    text-align: center;
    margin-top: 34px;
    position: relative;
    top: .5rem;
    right: .5rem;
   
}




    

    form .check{
        position:relative;
        font-size:12px;
        float:left;
        top: 3px;
    }
    



        


form .check input{
    position:absolute;
    left: 56px;
    top:5px;

}



   
    form .forgot{
        float:right;
        font-size:12px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    
    form .forgot:hover{
        color: #AD4328;
    }
  

  form label a, .afterform a{
    color:var(--main-color);
}





form label a, .afterform1 a{
    color:var(--main-color);
}


  


   form :is(p, label) a:hover, .afterform a:hover{
    border-bottom: 1px dotted;
}



form :is(p, label) a:hover, .afterform1 a:hover{
    border-bottom: 1px dotted;
}




   

    .content-form::before{
        content: '';
        position: absolute;
        height: 70rem;
        width: 51em;
        right: -12rem;
        background-color: white;
        clip-path: polygon(40% 0, 100% 0%, 100% 100%, 40% 100%, 0% 50%);
        animation: slideforward 1s ease 1 forwards;
    }
    




    

    @keyframes slideforward{
        0%{
            opacity: 0;
            transform: translate3d(120%, 0, 0);
        }
        100%{
            opacity: 1;
        }
    }
       




    
        

.y-style{
    position:relative;
    transform: translate3d(0, 20%, 0);
    /* -webkit-transform: translate3d(0, 20%, 0); */
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1)both;
    /* -webkit-animation: fade-in 0.9s cubic-bezier(0.39, 0.575, 0.565, 1)both; */


}




@keyframes fade-in{
    from {
        opacity:0;
        transform: translate3d(0, 20%, 0);
    }
    to {
        opacity:1;
    }
}



.y-style{
    transform: translate3d(0,0,0);
}


  

    @media screen and (min-width: 768px){
        .wrapper>div {
            flex-direction:row;
            max-width:800px;
        }
        

   

 .signup   .content-heading .y-style{
    height:100%;
    justify-content: space-between;
}
 





  
  .welcome{
    text-align:left;
    margin:19em 0 auto;
}



   

@keyframes move{
        from {
            opacity:0;
            transform:translate3d(0, -100%, 0);
        }
        to{
            opacity:1;
        }
    }
}


.social-media{
    position: relative;
    top: 2.8rem;
    left: 1.65rem;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #AD4328;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 1.1rem;
    color: #AD4328;
    text-decoration: none;
    margin: -17px 15px 30px 0;
    transition: all 0s ease;


}

.ig:hover{
    background-color:  rgb(253, 57, 155);
    color: white;
    border: 2px solid rgb(253, 57, 155);
}

.fb:hover{
    background-color:  rgb(101, 101, 255);
    color: white;
    border: 2px solid rgb(101, 101, 255);
}

.tw:hover{
    background-color:  #00acee;
    color: white;
    border: 2px solid #00acee;
}

.gg:hover{
    background-color: #EA4335;
    color: white;
    border: 2px solid #EA4335;
}


.welcome2{
           position: relative;
           top: -5rem;

        }


.second{
    position: relative;
    top: -1rem;

}

.social-media2{
    position: relative;
    top: 2.8rem;
    left: 1.5rem;
}


.social-media2 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #AD4328;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 1.1rem;
    color: #AD4328;
    text-decoration: none;
    margin: -17px 15px 30px 0;
    transition: all 0s ease;
}


.sign{
    text-align: center;
}

.second{
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

input:focus{
    outline: 3px;
}


#error{
    height: 0px;
    color: #ff3860;
    font-size: 12px;
    position: relative;
    bottom: 1rem;
}

#sucess{
    height: 0px;
    color: #09c372;
    font-size: 12px;
    position: relative;
    bottom: 1rem;
}